* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Sans-Serif;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0e3eb;
}
.calculator {
  position: relative;
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
  padding: 10px 20px 20px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.calculator .display {
  height: 80px;
  width: 100%;
  border: 0;
  outline: 0;
  text-align: right;
  font-size: 25px;
  pointer-events: none;
  color: #000e;
}
.tombol {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
button {
  color: #fff;
  background: black;
}